body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-gallery img {
    width: 30%;
    margin: 1.4%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
